.advantages-section {
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: 'TTNorms', Arial, sans-serif;
    max-width: 1170px;
  }
  
  .advantages-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
    letter-spacing: 2px; 
  }
  
  .adv-card {
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .adv-number {
    background-color: white;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 60px;
  }
  
  /* Цвета карточек */
  .violet { background-color: #E6E6FF; }
  .yellow { background-color: #FFF1B8; }
  .blue   { background-color: #DDEBFF; }
  .light  { background-color: #F2F2F7; }
  .pink   { background-color: #FFE6E6; }
  
  .adv-text p {
    margin: 0;
    font-size: 22px;
    line-height: 1.4;

  }

  
.adv-card-performance .performance-text {
  flex: 1 1 60%;
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}


.adv-card-performance .adv-number {
  margin-bottom: 20px;
}


.adv-card-performance .adv-image img {
  margin-left: 0;
  max-width: 100%;
}

.adv-card-performance {
  padding: 32px;
}
  
@media (max-width: 767px) {
  .advantages-title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .adv-card {
    padding: 15px;
    margin-bottom: 1px;
  }

  .adv-text p {
    font-size: 16px;
  }

  .adv-number {
    width: 36px;
    height: 36px;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .adv-card-performance {
    padding: 14px 14px 14px 14px;
  }

  .adv-card-performance .performance-text {
    max-width: 100%;
    font-size: 15px;
  }

  .adv-card-performance .adv-number {
    margin-bottom: 12px;
    width: 36px;
    height: 36px;
    font-size: 14px;
  }


  .row > .col-12.col-md-6.col-lg-3 {
    width: 50%;
    flex: 0 0 50%;
  }

  
  .adv-card-performance {
    flex-direction: column;
  }

  .adv-card-performance .adv-image {
    margin-top: 20px;
    width: 100%;
  }

  .adv-card-performance .adv-image img {
    max-width: 100%;
    height: auto;
  }
}