.extra-section {
  background-color: #17173F;
  padding: 0px 5vw; 
  margin: 60px auto;
  max-width: 1170px;
  position: relative;
  border-radius: 25px;
}

.extra-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}


.extra-title {
  font-family: 'TTNorms', sans-serif;
  font-size: 48px;         
  font-weight: 500;
  margin-bottom: 100px;   
  margin-left: -40px;  
  letter-spacing: 1px;
  font-weight: 500;
}

.extra-subtext {
  font-family: 'TTNorms', sans-serif;
  font-size: 20px;        
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: -40px; 
  font-weight: 300;
}

/* Блоки интеграции */
.integration-box {
  width: 360px;
  height: 120px;         
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 50px;
}

.integration-img {
  max-height: 80px;        
  object-fit: contain;
}

/* Цвета */
.bg-light-blue {
  background-color: #dedeff;
}

.bg-light-pink {
  background-color: #ffe5e2;
}