.solution-section {
    background-color: #f8f8fb;
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 40px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    max-width: 1170px;
    background-image: url('../assets/vector9.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
  }
  
  .solution-title {
    font-size: 48px;
    line-height: 1.2;
    font-family: 'TTNorms', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .solution-text {
    font-size: 20px;
    margin-bottom: 30px;
    color: #1a1a1a;
     margin-left: 20px;
  }
  
  .solution-btn {
    background-color: #ff5f5f;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
     margin-left: 20px;
  }
  
  .solution-btn:hover {
    background-color: #e44a4a;
  }
  

  @media (max-width: 768px) {
  .solution-title {
    font-size: 28px;
    margin-left: 10px;
  }

  .solution-text {
    font-size: 16px;
    margin-left: 10px;
  }

  .solution-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 10px;
  }
}